.card--body {
  position: relative;
}

.playlist-section {
  max-width: 100%;
  margin-left: 5rem;
  margin-top: 3rem;
}

.playlist-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.playlist-container {
  margin-top: 2rem;
  width: 100%;
}

.playlist-section .card--horizontal .card--title {
  font-size: 2rem;
}

.playlist-container:nth-child(even) {
  margin-left: 2rem;
}

.playlist-card {
  margin-left: 5rem;
  margin-top: 3rem;
}

.card--horizontal {
  max-width: 100%;
  width: 50rem;
}

.playlist-delete .card--dismiss {
  color: #000;
}

.playlist-card-section {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 786px) {
  .playlist-section {
    margin: 0;
  }
  .playlist-container:nth-child(even) {
    margin-left: 0;
  }

  .playlist-section .card--horizontal {
    width: 100%;
  }
  .playlist-section .card--horizontal .btn {
    padding: 0.6rem 0.8rem;
  }

  .playlist-section .page-heading {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
