.video-section {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin-left: 2rem;
}

.video-page {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.6rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.video-page .card {
  margin: 1rem;
  transition: transform 0.5s;
}

.video-page .card:hover {
  transform: scale(0.99);
}

.card--image {
  max-width: 25rem;
  height: auto;
}

.card--title {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #000;
}

.card--text {
  font-weight: 700;
  color: var(--light-gray) !important;
}

@media (max-width: 768px) {
  .video-section {
    margin: 0;
  }
  .video-page .card {
    max-width: 100%;
    margin: 0;
  }

  .video-page .card--image {
    max-width: 100%;
    height: auto;
  }

  .video-page .link {
    width: 100%;
  }

  .video-page img {
    width: 100%;
    margin: 0;
  }
}
